{% extends "admin/aLayout.twig" %}

{% block title %}{{ ('sidebar-lang')|t }} - Quaver Dashboard{% endblock %}

    {% block head %}

    {% include "admin/scripts/dataTables.js.twig" %}

<script type="text/javascript">
            $(function() {

                table = $('#items').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/{{ language.large }}.json"
                    },
                    "aoColumns": [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        // Actions
                        { "bSortable": false, "bSearchable": false }
                    ],
                    //"bFilter": false,
                    "aaSorting": [
                        [0, 'asc']
                    ],
                    "bStateSave": true,
                    "bAutoWidth": false,
                });

                 $("#items").on("click", ".delBtn", function(event) {
                    event.preventDefault();
                    var nRow = $(this).parents('tr')[0];
                    aData = table.fnGetData(nRow);

                    $("#delBtnOK").attr("href", "/admin/lang/del/" + aData[0]);

                })

            })



        </script>
{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 <div class="btn-group pull-right">
        <a class="btn btn-info" href="/admin/lang/add"> {{ ('new')|t }} </a></div>
          <h1 class="page-header">{{ ('sidebar-lang')|t }}</h1>

          <div class="table-responsive">
             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="items">
            <thead>
            <tr>
                <th class="center">ID</th>
                <th class="left">Name</th>
                <th class="left">Large</th>
                <th class="left">Slug</th>
                <th class="center">Locale</th>
                <th class="center">Active</th>
                <th class="center">Priority</th>
            </tr>
            </thead>
            <tbody>
              {% for item in items %}
                         <tr class="row-{{ item.id }}" id="row-{{ item.id }}">
                <td class="center">{{ item.id }}</td>
                <td class="center">{{ item.name }}</td>
                <td class="center">{{ item.large }}</td>
                <td class="center">{{ item.slug }}</td>
                <td class="center">{{ item.locale }}</td>
                <td class="center">{{ item.active ? 'Yes' : 'No' }}</td>
                <td class="center">{{ item.priority }}</td>
                <td class="center options">
                <a class="btn btn-success" href="/admin/lang/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
                <a data-toggle="modal" data-target="#delModal" href="#" class="btn btn-danger delBtn" id="delete-{{ item.id }}"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>
        </div>

        {% include "admin/modal/delete.twig" %}
{% endblock %}
