{% extends "admin/aLayout.twig" %}

{% block title %}{{ ('plugins')|t }} - Quaver Dashboard{% endblock %}

    {% block head %}

{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      

          <h1 class="page-header">{{ ('plugins')|t }}</h1>

          <div class="row">

          {% for key, items in qv.modules %}
            <div class="col-md-3">
          <div class="panel panel-default panel-{{key}}">
            <div class="panel-heading">
              <h3 class="panel-title">{{ items.params.name }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ items.params.description }}</p>
                <ul>
                    <li><strong>Author:</strong> {{ items.params.author }}</li>
                    <li><strong>Version:</strong> {{ items.params.version }}</li>
                    <li><strong>Last Modified:</strong> {{ items.params.dateLastUpdate }}</li>
                    <li><strong>Namespace:</strong> {{ items.namespace }}</li>
                    <li><strong>Use Routes:</strong> {{ items.params.useRoutes?'Yes':'No' }}</li>
                    <li><strong>Use Views:</strong> {{ items.params.useViews?'Yes':'No' }}</li>
                </ul>
            </div>
          </div>
      </div>
          {% endfor %}
</div>


        </div>
{% endblock %}
