{% extends "admin/aLayout.twig" %}

{% block title %}Routing - Quaver Dashboard{% endblock %}

    {% block head %}

    {% include "admin/scripts/dataTables.js.twig" %}

<script type="text/javascript">
            $(function() {

                table = $('#items').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/{{language.large}}.json"
                    },
                    "aoColumns": [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        {}
                    ],
                    //"bFilter": false,
                    "aaSorting": [
                        [6, 'desc']
                    ],
                    "bStateSave": true,
                    "bAutoWidth": false,
                });
            })

        </script>
{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="btn-group pull-right">

      </div>

          <h1 class="page-header">Routing</h1>

          <div class="table-responsive">
             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="items">
            <thead>
            <tr>
                <th class="left">Access</th>
                <th class="left">Route</th>
                <th class="center">Url</th>
                <th class="center">Controller</th>
                <th class="center">Action</th>
                <th class="center">View</th>
                <th class="center">Path</th>
            </tr>
            </thead>
            <tbody>
              {% for key, param in qv.routes %}
                {% for subKey, item in param %}
                  <tr class="row-{{ loop.index }}" id="row-{{ loop.index }}">
                    <td class="center">{{ key }}</td>
                    <td class="center">{{ subKey }}</td>
                    <td class="center">{{ item.url }}</td>
                    <td class="center">{{ item.controller }}</td>
                    <td class="center">{{ item.action }}</td>
                    <td class="center">{{ item.view }}</td>
                    <td class="center">{{ item.path }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
        </table>
          </div>
        </div>
{% endblock %}
