{% extends "admin/aLayout.twig" %}

{% block title %}{{ ('users')|t }} - Quaver Dashboard{% endblock %}

    {% block head %}
    
    {% include "admin/scripts/dataTables.js.twig" %}

<script type="text/javascript">
            $(function() {
                
                table = $('#items').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/{{language.large}}.json"
                    },
                    "aoColumns": [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        // Actions
                        { "bSortable": false, "bSearchable": false }
                    ],
                    //"bFilter": false,
                    "aaSorting": [
                        [0, 'asc']
                    ],
                    "bStateSave": true,
                    "bAutoWidth": false,
                });
                
                 $("#items").on("click", ".delBtn", function(event) {
                    event.preventDefault();
                    var nRow = $(this).parents('tr')[0];
                    aData = table.fnGetData(nRow);
                                     
                    $("#delBtnOK").attr("href", "/admin/users/del/" + aData[0]);
                    
                })
                
            })
            
            
                
        </script>
{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 <div class="btn-group pull-right">
        <a class="btn btn-info" href="/admin/users/add"> {{ ('new')|t }} </a></div>
          <h1 class="page-header">{{ ('users')|t }}</h1>
           
          <div class="table-responsive">
             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="items">
            <thead>
            <tr>
                <th class="center">ID</th>
                <th class="left">Email</th>
                <th class="left">{{ ('level')|t }}</th>
                <th class="left">{{ ('active')|t }}</th> 
                <th class="left">{{ ('register')|t }}</th>
                <th class="left">{{ ('last-login')|t }}</th>
                <th class="left">{{ ('options')|t }}</th>                
            </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr class="row-{{ item.id }}" id="row-{{ item.id }}">
                <td class="center">{{ item.id }}</td>
                <td class="center">{{ item.email }}</td>
                <td class="center">{{ item.level }}</td>
                <td class="center">{% if item.active == 1 %}{{ ('enabled')|t }}{% else %}{{ ('disabled')|t }}{% endif %}</td>
              
                <td class="center">{{ item.dateRegister }}</td>
                <td class="center">{{ item.dateLastLogin }}</td>
                <td class="center options">
                <a class="btn btn-success" href="/admin/users/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
                <a data-toggle="modal" data-target="#delModal" href="#" class="btn btn-danger delBtn" id="delete-{{ item.id }}"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>
        </div>


        {% include "admin/modal/delete.twig" %}
{% endblock %}
