{%  extends "layout.twig" %}

{% block body %}

  <div class="container">
    <div class="jumbotron centered">
      <h1>{{ ('welcome')|t }} {{ qv.version }}</h1>
      <p>{{ ('local-lang')|t }}: {{ qv.language.locale|replace('_', '-') }}</p>
      <p>{{ ('sample-string')|t }}: hello_world = {{ 'hello_world'|t }}</p>

      <h2>Routing</h2>
      <p>Actual Path: {{ qv.url.path }}</p>
      {% for uri in qv.url.uri %}
        <p>URI {{loop.index}}: {{ uri }}</p>
      {% endfor %}

      {% if qv.dev %}
      <h2>Benchmark</h2>
      <p><span class="label label-success">{{ qv.dev.final_time }}</span></p>
      <p><span class="label label-primary">{{ qv.dev.memory_usage }}</span></p>
      <p><pre>{{ qv.dev.twigProfiler }}</pre></p>
      {% endif %}

      <h2>{{ ('important')|t }}</h2>
      <ul>
      <li>{{ ('import')|t }} <strong>quaver.sql</strong> {{ ('to-your-database')|t }}</li>
      <li>{{ ('check')|t }} <strong>Config.yml</strong> {{ ('and')|t }} <strong>Routes.yml</strong></li>
      </ul>

      <h2>Quaver Dashboard</h2>
      <p><a href="/register">{{ ('create-a-user')|t }}</a> {{ ('and-select-admin-type')|t }}.</p>
      <p><a href="/login">{{ ('login')|t }}</a> {{ ('and-go-to')|t }} <a href="/admin">Quaver Dashboard</a>.</p>
    </div>
  </div>

{% endblock %}
