{% set langCurrent = language.locale|split('_') %}
<!DOCTYPE html>
<html lang="{{ langCurrent[0] }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hello World demo">
    <meta name="author" content="Quaver"> 

    <title>Hello World | Quaver</title>

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ (qv.config.core.DEV_MODE is not same as(true)? 'css/bootstrap.min.css' : 'css/bootstrap.css') | r(qv.randomVar) }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style type="text/css" media="screen">
        body {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .navbar {
          margin-bottom: 20px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block debugBarHead %}
        {% if qv.config.core.DEBUG_BAR %}
          {{ qv.config.debugbarRenderer.renderHead()|raw }}
        {% endif %}
    {% endblock %}
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{qv.config.app.BRAND_NAME}}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a id="testAjax" href="#">Test Ajax</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      {% block body %}{% endblock %}

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ (qv.config.core.DEV_MODE is not same as(true)? 'js/bootstrap.min.js' : 'js/bootstrap.js') | r(qv.randomVar) }}"></script>
    <script>
        $.ajaxPrefilter(function(options) {
            if (!options.crossDomain) {
                options.headers = options.headers || {};
                options.headers['X-CSRF-TOKEN'] = $('meta[name="csrf-token"]').attr('content');
            }
        });
    </script>
    <script>
      $('#testAjax').on('click', function (e) {
        e.preventDefault();

        var id = 1;

        postData = {
          id: id
        };

        $.post('/testAjax/', postData, function(data) {

          var success = data;
          console.log(success);
          alert(success);
    
        },"json");
      });
      </script>

    {% block debugBar %}
        {% if qv.config.core.DEBUG_BAR %}
            {{ qv.config.debugbarRenderer.render()|raw }}
        {% endif %}
    {% endblock %}
  </body>
</html>