{% extends "admin/aLayout.twig" %}

{% block title %}Log - Quaver Dashboard{% endblock %}

    {% block head %}

    {% include "admin/scripts/dataTables.js.twig" %}

<script type="text/javascript">
            $(function() {

                table = $('#items').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/{{language.large}}.json"
                    },
                    "aoColumns": [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        {}
                    ],
                    //"bFilter": false,
                    "aaSorting": [
                        [6, 'desc']
                    ],
                    "bStateSave": true,
                    "bAutoWidth": false,
                });
            })

        </script>
{% endblock %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="btn-group pull-right">

      </div>

          <h1 class="page-header">Log</h1>

          <div class="table-responsive">
             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="items">
            <thead>
            <tr>
                <th class="left">Id</th>
                <th class="center">User</th>
                <th class="center">Action</th>
                <th class="center">Model name</th>
                <th class="center">Model id</th>
                <th class="center">Model title</th>
                <th class="center">Fecha</th>
            </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr class="row-{{ item.id }}" id="row-{{ item.id }}" data-id="{{ item.id }}">
                <td class="center">{{ item.id }}</td>
                <td class="center">{{ item.user_email }}</td>
                <td class="center">{{ item.action }}</td>
                <td class="center">{{ item.model }}</td>
                <td class="center">{{ item.model_id }}</td>
                <td class="center">{{ item.model_title }}</td>
                <td class="center">{{ item.date|date('d/M/Y H:i:s') }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
          </div>
        </div>
{% endblock %}
