<!-- Modal -->
        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ language.l('modal-close') }}</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ language.l('modal-delete-title') }}</h4>
              </div>

              
              
              <div class="modal-body">
                
              <p>{{ language.l('modal-delete-question') }}</p>
              
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ language.l('modal-cancel') }}</button>
                <a href="{{delUrl is defined? delUrl : '#'}}" class="btn btn-danger" id="delBtnOK">{{ language.l('modal-delete-button') }}</a>
              </div>
              
              
            </div>
          </div>
        </div>