{% set langCurrent = language.locale|split('_') %}
<!DOCTYPE html>
<html lang="{{ langCurrent[0] }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>{% block title %}Welcome to Quaver{% endblock %}</title>

    <!-- CSS -->
    <link href="{{ qv.css }}/bootstrap.css?{{ qv.randomVar }}" rel="stylesheet">
    <link href="{{ qv.css }}/style.css?{{ qv.randomVar }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {% block head %}{% endblock %}
    
  </head>

  <body>
  
	{% block nav %}
	
		{% include 'nav.twig' %}

	{% endblock %}
	
	<div class="container">
  
	{% block body %}{% endblock %}
	</div>

	{% block footer %}{% endblock %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ qv.js }}/bootstrap.js?{{ qv.randomVar }}"></script>

    {% block JS_Footer %}{% endblock %}
  </body>
</html>
